:root {
  font-family: "Changa One", sans-serif, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

p,
a {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1rem;
  width: 15rem;
  height: 4rem;
  font-size: 1.3rem;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  border-color: #288b4e;
  color: rgb(187, 241, 190);
  font-size: 1.5rem;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.return {
  width: 13rem;
}
.return:hover {
  border-color: #741042;
  color: rgb(241, 191, 187);
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
